[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=sim -caption "%c" %i %m
Icon=sim.png
MiniIcon=sim.png
DocPath=sim/index.html
Comment=ICQ-client
Comment[de]=ICQ-Client
Comment[pl]=Klient ICQ
Terminal=false
Name=Sim
Categories=Qt;KDE;Network;X-Communication
